{% extends "articles/base.html" %}
{% block content %}
{{article.author}}
<b> | </b>
{{article.title}}
<b> | </b>
{{article.date}}
<br>
{{article.message}}
<br>
Voting-Score:
<br>
{% if article_score < 1 %}
Score &lt; 1
{% else %}
{{article_score}}
{% endif %}
<br>
<a href="/articles/{{article.articleid}}/view/upvote"><button>Upvote!</button> </a>
<a href="/articles/{{article.articleid}}/view/downvote"><button>Downvote!</button> </a>
<br>
Keywords:
<br>
{{article.keywords}}
<br>
<br>
<b>Comments:</b>
<br>


{% include "comments/list.html" %}





<a href="/articles/{{article.articleid}}/view/comments/add"><button>Add Comment!</button> </a>

{% endblock %}